//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^hacking-php-game.appspot.com[nc]
RewriteRule ^(.*)$ http://www.hacking-php-game.appspot.com/$1 [r=301,nc]

//Custom 400 errors
ErrorDocument 400 /home/www/401.html

//Custom 401 errors
ErrorDocument 401 /home/www/402.html

//Custom 403 errors
ErrorDocument 403 /home/www/403.html

//Custom 404 errors
ErrorDocument 404 /home/www/404.html

//Custom 500 errors
ErrorDocument 500 /home/www/500.html

//Change default directory page
DirectoryIndex /home/www/index.php

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

//Prevent directory listings
Options All -Indexes